
#home
{
background:linear-gradient(45deg,skyblue, white, violet)fixed;
height:600px;
width:1050px;
margin-top: 10px;
}

div3.content
{
border-style:outset;
top:30px;
left:30px;
position:absolute;
background-color:#90734c;
height:310px;
width:410px;

}

div8.content
{
border-style:outset;
top:70px;
left:110px;
position:absolute;
background-color:white;
height:200px;
width:410px;

}



.pic img{
	height: 410px;
	width:  410px;
	margin-top: 0px;
	margin-left: 0px;
}


.button2 {

margin-left: 30px;
margin-top: 280px;
border-style: outset;
background-color: violet;
color: white;
padding: 10px;
text-align: center;
display: inline-block;
font-size: 10px;
border-radius: 12px;
cursor: pointer;

}
.button3 {

margin-left:30px;
margin-top: -20px;
border-style: outset;
background-color: violet;
color: white;
padding: 10px;
text-align: center;
display: inline-block;
font-size: 10px;
border-radius: 12px;
cursor: pointer;

}

.button4 {

margin-left: 900px;
margin-top: 20px;
border-style: outset;
background-color: seagreen;
color: white;
padding: 10px;
text-align: center;
display: inline-block;
font-size:10px;
border-radius:12px;
cursor: pointer;

}

.button5 {

margin-left: 950px;
margin-top: 30px;
border-style: outset;
background-color: seagreen;
color: white;
padding: 10px;
text-align: center;
display: inline-block;
font-size:10px;
border-radius:12px;
cursor: pointer;

}

.button6 {

margin-left: 500px;
margin-top: 50px;
border-style: outset;
background:skyblue;
color: white;
padding: 10px;
text-align: center;
display: inline-block;
font-size:10px;
border-radius:12px;
cursor: pointer;

}
.button7 {

margin-left: 450px;
margin-top: 200px;
border-style: outset;
background:rgb(214, 65, 157);
color: white;
padding: 10px;
text-align: center;
display: inline-block;
font-size:10px;
border-radius:12px;
cursor: pointer;

}



.button1:hover{
	background-color: skyblue;
	color: white;
}
.button1:active{
	border-color: gray;
	box-shadow: 0 5px;
}


our.content{
border-style:outset;
top:50px;
left:153px;
position:absolute;
background-color:#ffffff;
height:600px;
width:750px;
overflow-y:auto;
text-align: auto;

}

div2.pic{
border-style:outset;
top:20px;
left:620px;
position:absolute;
background:linear-gradient(45deg,skyblue, white, violet)fixed;
height:390px;
width:410px;
font-family: italic;
block-size: 80px;
}
div7.pic{
border-style:outset;
top:450px;
left:30px;
position:absolute;
background-color:#ffffff;
height:410px;
width:410px;
overflow-y:auto;

}
div6.box{
border-style:outset;
top:450px;
left:620px;
position:absolute;
background-color:#ffffff;
height:310px;
width:410px;
overflow-y:auto;

}
div10.pic{
border-style:outset;
top:30px;
left:30px;
position:absolute;
background-color:#ffffff;
height:20px;
width:20px;
overflow-y:30;

}

.div9{
	border-style:outset;
	top:30px;
	left:30px;
	position:absolute;
	background-color:#ffffff;
	height:20px;
	width:20px;
	overflow-y:30;
	
	}
body{
	background:linear-gradient(45deg,skyblue, white, violet)fixed;
	background-size: cover; 
}

text.div{
	text-align: center;
}
h1{
	text-align: center;
	margin-top: 50px;
}